In [13]:
from gnncloudmanufacturing.data import read_fatahi_dataset
from gnncloudmanufacturing.greedy_algorithm import greedy_solve
from gnncloudmanufacturing.validation import total_cost_from_gamma
from gnncloudmanufacturing.utils import delta_from_gamma

from time import time
import pandas as pd

In [2]:
dataset = read_fatahi_dataset('../data/fatahi.xlsx')
for problem in dataset:
    print(f'Problem: {problem["name"]}')

  0%|          | 0/18 [00:00<?, ?it/s]

Problem: 5,10,10-1
Problem: 5,10,10-2
Problem: 5,10,10-3
Problem: 10,10,10-1
Problem: 10,10,10-2
Problem: 10,10,10-3
Problem: 5,10,20-1
Problem: 5,10,20-2
Problem: 5,10,20-3
Problem: 5,20,10-1
Problem: 5,20,10-2
Problem: 5,20,10-3
Problem: 5,20,20-1
Problem: 5,20,20-2
Problem: 5,20,20-3
Problem: 5,5,5-1
Problem: 5,5,5-2
Problem: 5,5,5-3

In [12]:
problem_name = []
total_cost = []
comp_time = []
for problem in dataset:
    start = time()
    gamma = greedy_solve(problem)
    delta = delta_from_gamma(problem, gamma)
    total_cost.append(total_cost_from_gamma(problem, gamma, delta))
    problem_name.append(problem['name'])
    comp_time.append(time() - start)

In [18]:
pd.DataFrame({'problem_name': problem_name, 'total_cost': total_cost, 'comp_time': comp_time}).round(2)

   problem_name  total_cost  comp_time
0     5,10,10-1     6325.05        0.0
1     5,10,10-2    10974.05        0.0
2     5,10,10-3    12521.69        0.0
3    10,10,10-1    14849.09        0.0
4    10,10,10-2    21835.97        0.0
5    10,10,10-3    23082.48        0.0
6     5,10,20-1     6091.69        0.0
7     5,10,20-2     9377.16        0.0
8     5,10,20-3     9414.35        0.0
9     5,20,10-1    15446.19        0.0
10    5,20,10-2    19195.71        0.0
11    5,20,10-3    20396.13        0.0
12    5,20,20-1    14002.05        0.0
13    5,20,20-2    17038.35        0.0
14    5,20,20-3    18597.85        0.0
15      5,5,5-1     3495.44        0.0
16      5,5,5-2     8266.23        0.0
17      5,5,5-3     8868.77        0.0