In [2]:
from gnncloudmanufacturing.data import read_fatahi_dataset
from gnncloudmanufacturing.mip_solver import mip_solve
from gnncloudmanufacturing.validation import total_cost_from_gamma
from gnncloudmanufacturing.utils import delta_from_gamma

from time import time
import pandas as pd
from tqdm.auto import tqdm

In [16]:
dataset = read_fatahi_dataset('../data/fatahi.xlsx')
for problem in dataset:
    print(f'Problem: {problem["name"]}')

  0%|          | 0/18 [00:00<?, ?it/s]

Problem: 5,10,10-1
Problem: 5,10,10-2
Problem: 5,10,10-3
Problem: 10,10,10-1
Problem: 10,10,10-2
Problem: 10,10,10-3
Problem: 5,10,20-1
Problem: 5,10,20-2
Problem: 5,10,20-3
Problem: 5,20,10-1
Problem: 5,20,10-2
Problem: 5,20,10-3
Problem: 5,20,20-1
Problem: 5,20,20-2
Problem: 5,20,20-3
Problem: 5,5,5-1
Problem: 5,5,5-2
Problem: 5,5,5-3

In [ ]:
problem_name = []
total_cost = []
comp_time = []
sol_status = []
for problem in tqdm(dataset):
    start = time()
    delta, gamma, status, value = mip_solve(problem, max_seconds=60)
    total = total_cost_from_gamma(problem, gamma, delta)
    total_cost.append(total)
    problem_name.append(problem['name'])
    comp_time.append(time() - start)
    sol_status.append(status.name)

In [18]:
pd.DataFrame({'problem_name': problem_name, 'total_cost': total_cost, 'comp_time': comp_time, 'sol_status': sol_status}).round(2)

   problem_name  total_cost  comp_time sol_status
0     5,10,10-1     5086.08       4.52    OPTIMAL
1     5,10,10-2     7352.66      48.39    OPTIMAL
2     5,10,10-3     7652.32      60.72   FEASIBLE
3    10,10,10-1    12695.77      60.94   FEASIBLE
4    10,10,10-2    14521.25      60.97   FEASIBLE
5    10,10,10-3    14479.63      61.09   FEASIBLE
6     5,10,20-1     4688.25      62.70   FEASIBLE
7     5,10,20-2     6078.92      62.68   FEASIBLE
8     5,10,20-3     6527.14      62.71   FEASIBLE
9     5,20,10-1    15164.91      61.44   FEASIBLE
10    5,20,10-2    18684.01      62.23   FEASIBLE
11    5,20,10-3    18776.15      61.21   FEASIBLE
12    5,20,20-1    15968.40      74.59   FEASIBLE
13    5,20,20-2    19039.75      75.82   FEASIBLE
14    5,20,20-3    25309.65      77.24   FEASIBLE
15      5,5,5-1     2648.63       0.07    OPTIMAL
16      5,5,5-2     5944.42       0.16    OPTIMAL
17      5,5,5-3     6653.88       0.22    OPTIMAL